@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/****** general stuff ******/
html, body {
    color: #2C2F33;
    min-height: 90vh;
}

body {
    background: #f7b183;
    display: grid;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    grid-template-rows: 5rem auto;
}

header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 2%;
    width: 100%;
}

nav {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 1rem 0;
    width: 100%;
}

main {
    padding: 0 2%;
}

.layout {
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    color: #2C2F33;
    font-size: 3rem;
    font-weight: 400;
}

.error {
    background: #ff6e6e;
    border-radius: 4px;
    box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.9);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    position: relative;
    transition: 200ms all;
}

.error::before {
    content: "Oopsie woopsie, we made a fucky wucky! \A❌ ";
    white-space: pre;
}

#flashes {
    animation-delay: 5s;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    bottom: 5%;
    color: #2C2F33;
    left: 50%;
    list-style: none;
    padding: 1rem 3rem;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.fade-out {
    opacity: 1;
    animation: fadeOut .5s ease-in forwards;
}

.is-paused {
    animation-play-state: paused;
}


/****** site titlebar ******/
#site-title {
    margin: 0;
}

#user-menu {
    background: #fff;
    border-radius: 4px;
    box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.9);
    font-size: 1.2rem;
    min-width: 7rem;
    padding: 10px;
    position: relative;
    transition: 200ms all;
}

#current-user {
    align-items: center;
    display: flex;
    flex-direction: row;
}

#current-user .user-text {
    box-sizing: border-box;
    color: #2C2F33;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 .5rem;
    white-space: nowrap;
}

#user-menu:hover .user-text {
    color: transparent;
}

#user-menu:hover .avatar {
    display: block;
    filter: grayscale(100%);
    transition: 200ms all;
}

#current-user .user-text::after {
    color: #2C2F33;
    content: "log out";
    font-size: 1.2rem;
    left: 1.2rem;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: calc( 100% - 1.2rem );
}

/****** nav ******/
.nav-link, .nav-search {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.9);
    color: #2C2F33;
    margin-right: 1rem;
    padding: 10px;
    transition: 200ms all;
}

.nav-search {
    border: none;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    outline: none;
}

.nav-search::after {
    content: "🕵️";
}

/****** login page ******/
#login-page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-button-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

#login-eyecatch {
    display: block;
    font-size: 4rem;
    margin: auto auto 3rem;
}

#discord-button {
    background: #fff;
    border-radius: 4px;
    box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.9);
    font-size: 1.2rem;
    padding: 10px;
    position: relative;
    transition: 200ms all;
}

/****** strike object ******/
.strike-wrap .user {
    align-items: center;
    background: #2C2F33;
    border-radius: 4px 4px 0 0;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.strike-wrap .user .username {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1rem;
    white-space: nowrap;
}

.avatar {
    border-radius: 1rem;
    height: 1.3rem;
    width: 1.3rem;
}

.strike-wrap .strike {
    align-items: center;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
}

.strike .text {
    margin-left: 1rem;
}

.strike .points {
    font-size: 1.2rem;
}

.strike .clock {
    font-style: italic;
    opacity: 0.5;
}

.strike-wrap.no-expire {
    color: #bbb;
}

.tier {
    border-radius: 2rem;
    display: inline-block;
    height: 2.6rem;
    width: 2.6rem;
}

.tier.green {
    background: #b7feb8;
}

.tier.yellow {
    background: #fffa90;
}

.tier.orange {
    background: #ffd268;
}

.tier.red {
    background: #ff6e6e;
}

.tier.carmine {
    background: #e04747;
}

/****** user object ******/
.user-wrap .user {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    white-space: nowrap;
}

.user-list .user-wrap .user .username {
    color: #2C2F33;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1rem;
    white-space: nowrap;
}

.user-wrap .user .points {
    color: #2C2F33;
    margin-left: 1rem;
    white-space: nowrap;
}

/****** overview object ******/
.overview-wrap .title {
    background: #2C2F33;
    border-radius: 4px 4px 0 0;
    padding: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
}

.overview-wrap .value {
    align-items: center;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
}

/****** progress bar ******/
.meter {
    background: #b7feb8;
    border-radius: 0 0 4px 4px;
    bottom: 0;
    height: 4px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: 200ms all;
}

.meter span {
    background: #ff6e6e;
    border-radius: 0 0 0 4px;
    bottom: 0;
    height: 4px;
    left: 0;
    position: absolute;
}

/****** loader ******/
.loading {
    background: #fff;
    border-radius: 4px;
    box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.9);
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 8rem;
    padding: 10px;
}

.loading::before {
    content: "⌛ ";
}

/****** single strike & user pages ******/
.single-strike, .single-user {
    background: #eee;
    border-radius: 4px;
    box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.9);
    margin-top: 2.5rem;
    padding: 1rem;
    position: relative;
}

.single-strike .tier, .single-user .avatar {
    border-radius: 5rem;
    box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.9);
    display: block;
    height: 7rem;
    margin: 0 auto;
    position: relative;
    top: -4.5rem;
    width: 7rem;
}

.single-strike h1, .single-user h1 {
    font-weight: bold;
    margin-top: -3.5rem;
    text-align: center;
}

.single-strike section {
    background: #fff;
    border-radius: 4px;
    box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.9);
    padding: 10px;
    word-wrap: break-word;
}

.single-strike section .section-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.single-strike section.fullwidth {
    grid-column: 1/-1;
}

.parsed-link {
    text-decoration: underline;
}

/****** more general stuff ******/
#discord-button:hover, #user-menu:hover, .nav-link:hover, .strike-wrap:hover, .user-list .user-wrap:hover {
    transform: scale(1.02);
}

#user-menu:hover .user-text::after, .user-wrap:hover .meter, .strike-wrap:hover .meter {
    opacity: 1;
}

/****** grids ******/
.strike-list, .user-list, .single-strike .strike-info-wrap, .overview-list {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/****** general stuff ******/
.strike-wrap, .user-list .user-wrap, .overview-wrap {
    background: #fff;
    border-radius: 4px;
    box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 200ms;
}

.strike-wrap.no-expire .user, .strike-wrap.expired .tier {
    background: #bbb;
}

@media only screen and (max-width: 800px) {
    #site-title {
        font-size: 1.3rem;
    }
    #user-text {
        font-size: 1rem;
    }
}