<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
        {% if current_user.is_authenticated %}
            <title>Eggserver / {{ current_user.get_name() }}</title>
        {% else %}
            <title>Eggserver / strikes</title>
        {% endif %}
    </head>
    <body>
        <header>
            <a href="/"><h1 id="site-title"> <strong>eggserver</strong> / strikes </h1></a>
            {% if current_user.is_authenticated %}
                <a href="/logout" id="logout">
                    <div id="user-menu">
                        <div id="current-user">
                            {% if current_user.get_avatar() %}
                                <div class="avatar" style="background: url(//cdn.discordapp.com/avatars/{{current_user.get_id()}}/{{current_user.get_avatar()}}) #fff; background-size: 1.3rem 1.3rem"></div>
                            {% else %}
                                <div class="avatar" style="background: url({{ url_for('static', filename='img/default-avatar.png') }}); background-size: 1.3rem 1.3rem"></div>
                            {% endif %}
                            <span class="user-text">{{ current_user.get_name() }}</span>
                        </div>
                    </div> 
                </a>
            {% endif %}
        </header>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="flashes" class="fade-out is-paused">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <script>
            let el = document.querySelector('#flashes');
            if (el && el.classList.contains('is-paused')){
                el.classList.remove('is-paused');
            }
        </script>
    </body>
</html>