{% extends "base.html" %}

{% block content %}
    <div id="interface-wrap">
        <div id="interface">
            <div id="error-wrapper">
                <h2 id="error-title">{{code}}</h2>
                <p id="error">{{error}}</p>
            </div>
        </div>
    </div>
{% endblock %}