{#
{% if current_user.get_is_mod() %}
    {% include "./subpages/mod-interface.html" %}
    <script>
        if(!window.location.hash) 
            window.location.hash = "#overview"
    </script>

{% else %}
    {% include "./subpages/user-interface.html" %}
    <script>
        if(!window.location.hash) 
            window.location.hash = "#user/me"
    </script>
{% endif %}
#}

<div id="interface-wrap"></div>
{% if current_user.get_is_mod() %}
    <script> var isMod = true; </script>
{% else %}
    <script> var isMod = false; </script>
{% endif %}
<script src="{{ url_for('static', filename='js/app.js') }}"></script>